#post {
  max-width: 850px;
  margin: 0 auto;
  h1 {
    margin: 50px 0 20px;
    font-weight: 500;
  }
  hr {
    border: 0;
    border-bottom: 1px dashed #cfcfcf;
    margin: 30px 0;
  }
  p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 27px;
  }
  pre {
    font-size: 14px;
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
  }
}
