#post-list {
  max-width: 850px;
  margin: 0 auto;
  li {
    color: #929292;
    border-bottom: 1px dashed #cfcfcf;
    list-style-type: none;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: #D6DBDF;
    }
  }
}
#post {
  max-width: 850px;
  margin: 0 auto;
  h1 {
    margin: 50px 0 20px;
    font-weight: 500;
  }
  hr {
    border: 0;
    border-bottom: 1px dashed #cfcfcf;
    margin: 30px 0;
  }
  p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 27px;
  }
  pre {
    font-size: 14px;
    background-color: #333;
    padding: 10px 10px 10px 30px;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
