header {
  color: $while;
  .header-menu {
    width: 66px;
    display: flex;
    justify-content: center;
    i {
      font-size: 30px;
    }
  }
  .header-title {
    font-size: 22px;
    display: flex;
    flex: 1;
  }
  .header-icon {
    width: 66px;
    img {
      display: block;
      border: 1px solid $while;
      margin: 0 auto;
      width: 42px;
      height: 42px;
      border-radius: 50%;
    }
  }
}
