html {
  height: 100%;
  body {
    height: 100%;
    margin: 0;
    background-color: $bgc;
    display: flex;
    flex: 1;
    flex-shrink: 0;
    flex-direction: column;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
  }
}

header {
  height: 66px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 8px rgba(0,0,0,.3);
  user-select:none;
}

section {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
  .pc-menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    padding-top: 14px;
    position: fixed;
    left: 0;
    transition: all 0.6s ease;
    a {
      text-decoration: none;
      height: 56px;
      display: flex;
      align-items: center;
      color: $blodText;
      &:hover {
        background-color: rgba(0,0,0,0.02);
      }
      .material-icons {
        color: #757575;
        margin: 0 15px;
      }
    }
    a.active-home {
      color: $red;
      .material-icons {
        color: inherit;
      }
    }
    a.active-works {
      color: $blue;
      .material-icons {
        color: inherit;
      }
    }
    a.active-about {
      color: $green;
      .material-icons {
        color: inherit;
      }
    }
  }
  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 200px;
    transition: all 0.6s ease;
  }
  @media (max-width: 750px) {
      .pc-menu {
        left: -200px;
      }
      .main-content {
        margin-left: 0px;
      }
  }
}


div.mobile-sidebar {
  width: 300px;
  background-color: $while;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  z-index: 20;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
  height: 100%;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-size: 22px;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    span {
      color: $dark;
    }
    i.material-icons {
      color: $dark;
      font-size: 38px;
    }
  }
  div.mobile-menu {
    a {
      text-decoration: none;
      height: 56px;
      display: flex;
      align-items: center;
      color: $blodText;
      &:hover {
        background-color: rgba(0,0,0,0.02);
      }
      .material-icons {
        color: #757575;
        margin: 0 15px;
      }
    }
    a.mobile-active-home {
      color: $red;
      .material-icons {
        color: inherit;
      }
    }
    a.mobile-active-works {
      color: $blue;
      .material-icons {
        color: inherit;
      }
    }
    a.mobile-active-about {
      color: $green;
      .material-icons {
        color: inherit;
      }
    }
  }
}
div.backbg {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);

}
