<div id="about">
  <h1>本人概况</h1>
  <p>好奇、上进、运动</p>

  <h1>CSS</h1>
  <p>Bootstrap从入门到放弃，放弃的理由——太臃肿了，我更愿意自己按需求写CSS库。<p>
  <p>熟悉DIV+CSS布局、Flex布局、响应式布局（移动优先原则）、CSS3动画、CSS黑魔法，伪类画三角形、幽灵按钮、高斯模糊各种高大上的CSS相关基本都接触过。</p>

  <p>迷恋Google的Material Design风格。</p>

  <h1>JavaScript</h1>
  <p>熟悉jQuery，但是现在更倾向于写原生。</p>
  <p>注重设计模式，对于原型继承、函数式编程、闭包等方案有实践经验，能写成Object.create的绝对不写new。</p>
  <p>在产品项目上使用过APICloud、MUI、Angular框架</p>
  <p>协助开发过SPA</p>
  <span>为什么只是协助？</span>
  <p>本人的弱项就是后端业务逻辑，因此无法独自做到全栈开发，只能协助。
    同样由于不精通后端，有一段时间迷恋过高大上的Meteor，但由于这个框架尚年轻，API迭代快、通俗地讲就是坑多、易入不易留，最近重回Angular和Avalon的怀抱。</p>
  <h1>工具</h1>
  <p>能使用Node实现前端的工程化和自动化</p>
  <P>熟练使用Gulp、Sass、Autoprefixer、Browser sync等多种自动化工具</p>
  <p>熟悉Git的基本协作</p>

  <h1>关于新技术</h1>
  <p>React + Webpack + ES6自然是折腾过的，但React的周边技术更新得比Meteor还狠，react-router一年内API已经更新到第4版，跟不上！！</p>
  <p>高大上的Meteor优点很多，一套代码两端运行，社区火爆，</p>


  <h1>工具</h1>
  <p>能使用Node实现前端的工程化和自动化</p>
  <P>熟练使用Gulp、Sass、Autoprefixer、Browser sync等多种自动化工具</p>
  <p>熟悉Git的基本协作</p>

  <h1>关于新技术</h1>
  <p>React + Webpack + ES6自然是折腾过的，但React的周边技术更新得比Meteor还狠，react-router一年内API已经更新到第4版，跟不上！！</p>
  <p>高大上的Meteor优点很多，一套代码两端运行，社区火爆，</p>
  <h1>工具</h1>
  <p>能使用Node实现前端的工程化和自动化</p>
  <P>熟练使用Gulp、Sass、Autoprefixer、Browser sync等多种自动化工具</p>
  <p>熟悉Git的基本协作</p>

  <h1>关于新技术</h1>
  <p>React + Webpack + ES6自然是折腾过的，但React的周边技术更新得比Meteor还狠，react-router一年内API已经更新到第4版，跟不上！！</p>
  <p>高大上的Meteor优点很多，一套代码两端运行，社区火爆，</p><h1>工具</h1>
  <p>能使用Node实现前端的工程化和自动化</p>
  <P>熟练使用Gulp、Sass、Autoprefixer、Browser sync等多种自动化工具</p>
  <p>熟悉Git的基本协作</p>

  <h1>关于新技术</h1>
  <p>React + Webpack + ES6自然是折腾过的，但React的周边技术更新得比Meteor还狠，react-router一年内API已经更新到第4版，跟不上！！</p>
  <p>高大上的Meteor优点很多，一套代码两端运行，社区火爆，</p>
</div>
