<div id="home">
  <div class="home-content">
    <h2>Books are the stepping stones to human progress.</h2>



    <a target="_blank" href="https://www.zybuluo.com/kungfuboy/note/550855">
      <img src="asset/images/iron-man.jpg" alt="">
      <span class="books-title">《硅谷钢铁侠》</span>
    </a>

    <a target="_blank" href="https://www.zybuluo.com/kungfuboy/note/550852">
      <img src="asset/images/king-gone.jpg" alt="">
      <span class="books-title">《皇上走了》</span>
    </a>

    <a target="_blank" href="https://www.zybuluo.com/kungfuboy/note/550777">
      <img src="asset/images/redefine-company.jpg" alt="">
      <span class="books-title">《重新定义公司》</span>
    </a>

    <a target="_blank" href="https://www.zybuluo.com/kungfuboy/note/550847">
      <img src="asset/images/years-dream.jpg" alt="">
      <span class="books-title">《流年梦惆怅》</span>
    </a>

    <a target="_blank" href="https://www.zybuluo.com/kungfuboy/note/550851">
      <img src="asset/images/time-friend.jpeg" alt="">
      <span class="books-title">《把时间当做朋友》</span>
    </a>

    <!-- <a href="https://www.zybuluo.com/kungfuboy/note/550777">
      <img src="asset/images/redefine-company.jpg" alt="">
      <span class="books-title">《万万没想到》</span>
    </a> -->

  </div>

</div>
