<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="dist/main.css">
  <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/ico" href="asset/images/google-plus.ico">
  <title>Night Eagle</title>

</head>
<body>
  <header>
    <div class="header-menu">
      <i class="material-icons">menu</i>
    </div>
    <div class="header-title">Night Eagle</div>
    <div class="header-icon">
      <img src="/asset/images/head-icon.jpeg" />
    </div>
  </header>
  <section>
    <div class="mobile-sidebar">
      <nav>
        <span>Night Eagle</span>
        <i class="material-icons">keyboard_arrow_left</i>
      </nav>
      <div class="mobile-menu">
        <a href="#/" id="mobile-active-home"><i class="material-icons">account_balance</i>Home</a>

        <a href="#/works" id="mobile-active-works"><i class="material-icons">toys</i>My works</a>

        <a href="#/about" id="mobile-active-about"><i class="material-icons">folder_shared</i>About me</a>
      </div>
    </div>

    <div class="pc-menu">
        <a href="#/" id="active-home"><i class="material-icons">account_balance</i>Home</a>

        <a href="#/works" id="active-works"><i class="material-icons">toys</i>My works</a>

        <a href="#/about" id="active-about"><i class="material-icons">folder_shared</i>About me</a>
    </div>
    <div id="content" class="main-content">

    </div>
  </section>
  <div id="backbg" class="backbg">

  </div>
  <div id="external-html" style="display:none;">
    @import "home.html"
    @import "works.html"
    @import "about.html"

  </div>

  <script type="text/javascript" src="/src/script/router.js"></script>
  <script type="text/javascript" src="/src/script/move.js"></script>
  <script type="text/javascript">

      window.onload = function() {
        init();
        photo();
      }

    function init() {
      var sw = document.body.clientWidth;
      console.log(sw);
      if(sw < 750) {
        mobileInit();
      } else {
        pcInit();
      }
      window.addEventListener('resize', function() {
        sw = document.body.clientWidth;
        console.log(sw);
        if(sw < 750) {
          // mobile
          mobileInit();
        } else {
          // pc
          pcInit();
        }
      });

    }

    function photo() {
      var p = document.getElementById('myphoto'), b = document.getElementById('backbg');
      p.addEventListener('click', photoShow, false);

      function photoShow() {
        // p.removeEventListener('click', photoShow, false);
        b.style.display = 'block';
        p.className = 'showphoto';
        p.removeEventListener('click', photoShow, false);
        p.addEventListener('click', photoHide, false);
      }

      function photoHide() {
        b.style.display = 'none';
        p.className = '';
        p.removeEventListener('click', photoHide, false);
        p.addEventListener('click', photoShow, false);
      }
    }

    function mobileInit() {
        document.getElementsByClassName('pc-menu')[0].style.left = '-200px';
        document.getElementsByClassName('main-content')[0].style.marginLeft = '0';
        document.getElementsByClassName('header-menu')[0].removeEventListener('click', sideMenuMove, false);
        document.getElementsByClassName('mobile-sidebar')[0].addEventListener('click', sidebarMove, false);
        document.getElementsByClassName('header-menu')[0].addEventListener('click', sidebarMove, false);
    }

    function pcInit() {
        document.getElementsByClassName('pc-menu')[0].style.left = '0';
        document.getElementsByClassName('main-content')[0].style.marginLeft = '200px';
        var m = document.getElementsByClassName('mobile-sidebar')[0]
        m.style.left = '-300px';
        m.removeEventListener('click', sidebarMove, false);
        var h = document.getElementsByClassName('header-menu')[0];
        h.removeEventListener('click', sidebarMove, false);
        h.addEventListener('click', sideMenuMove, false);
    }

    Router.route('/', function() {
      changeBg('#db4437', 'active-home', 'mobile-active-home');
      document.getElementById('content').innerHTML = document.getElementById('home').innerHTML;
    });
    Router.route('/works', function() {
      changeBg('#03a9f4', 'active-works', 'mobile-active-works');
      document.getElementById('content').innerHTML = document.getElementById('works').innerHTML;
    });
    Router.route('/about', function() {
      changeBg('#0f9d58', 'active-about', 'mobile-active-about');
      document.getElementById('content').innerHTML = document.getElementById('about').innerHTML;
      photo();
    });


  </script>
</body>
</html>
