<h1 id="works">

  <div class="works-content">
    <a target="_blank" href="https://kungfuboy.github.io/react-BB8/">
      <img src="asset/images/bbq.jpeg" alt="">
      <p>去年中秋用三天假期做出来的，当然后来又改了许多次，当时认为JSX是邪恶的，因此创建DOM时错误地用了蛋疼的React.creatElement，导致隔了一段时间后很难维护。
        做来玩的，没怎么测试兼容性，仅保证支持Chrome浏览器，手机上就不用看了。</p>
    </a>


    <a target="_blank" href="https://github.com/kungfuboy/use-js-signals/tree/master">
      <img src="asset/images/js-logo-1.jpg" alt="">
      <p>刚接触观察者模式时做的示例，借助了js-signals，可以用于登录前后检测header导航条，如果用户已经注册，即可显示Hello XXX。
        呃……并不能点击在线展示，放在这里展示纯粹是为了让页面没那么空荡。</p>
    </a>
  </div>
</h1>
